section{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-image: url(img1.jpeg);
    background-size: cover;
    justify-content: center;
}

.container{
    padding-top: 20px;
    font-family: 'Times New Roman';
}

p{
    font-size: 20px;
    text-align: justify;
}

#abus{
    color: rgb(6, 6, 6);
    font-size: 50px;
    text-shadow: 0px 2.6px 0.4px #00C6DD;
    font-weight: bold;
}