body{
    justify-content: center;
    align-items: center;
    background-image: url(img2.jpg);
    background-position: center;
}

.addsect{
   width: 100%;
   margin: 100px;
   padding-left: 345px;
}

.mb-3{
    font-weight: bold;
    font-family: 'Times New Roman';
}

#addbtn{
    text-align: center;
    padding-top: 20px;
}

#adbook{
    background: rgb(5, 45, 245);
    border-radius: 10px;
    color: #f4eff0;
    font-weight: bolder;
}

#adbook:hover{
    border-color:  rgb(93, 198, 131);
    
}