*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-size: cover;
    background-image: url(img3.webp);
    background-position: center;
}

form img{
    width: 80px;
    height: 80px;
}

.wrapper{
    width: 420px; 
    background:  #00C6DD;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-style: bold;
}
.wrapper h2{
    font-size: 36px;
    text-align: center;
    font-style: normal;
    color: black;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #333;
    font-size: larger;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #fff;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot label input{
    color: #fff;
    text-decoration: none;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: 口#333;
    font-weight: 600;
}
